<!-- About me -->
<fuse-card class="flex flex-col max-w-80 w-full p-8">
  <div class="text-2xl font-semibold leading-tight flex justify-between">
    <span>About Me</span>
    <a class="cursor-pointer" *ngIf="editable && !editing" (click)="startEditing()"><mat-icon class="icon-size-4" svgIcon="heroicons_solid:pencil"></mat-icon></a>
  </div>
  <div class="mt-4">
    <ng-container *ngIf="!editing">{{ user.customerProfile.bio || 'No description here yet...' }}</ng-container>
    <mat-form-field *ngIf="editing" class="fuse-mat-textarea fuse-mat-no-subscript w-full">
      <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="3" placeholder="Please describe yourself..." [(ngModel)]="user.customerProfile.bio"></textarea>
    </mat-form-field>
  </div>
  <hr class="w-full border-t my-6">
  <div class="flex flex-col">
    <div class="flex items-center">
      <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
      <span class="leading-none">{{ user.customerProfile.address || 'Unknown' }}</span>
    </div>
    <div class="flex items-center mt-4">
      <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
      <span class="leading-none">{{ user.customerProfile.title || 'Unknown' }}</span>
    </div>
    <div class="flex items-center mt-4">
      <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
      <span class="leading-none">{{ user.birthday | date : 'longDate' }}</span>
    </div>
  </div>
  <button *ngIf="editing" class="px-6 mt-8" mat-flat-button [color]="'primary'" (click)="save()" [disabled]="isSaving">
    <span *ngIf="!isSaving">Update</span>
    <mat-progress-spinner *ngIf="isSaving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
</fuse-card>
