<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col shadow bg-card">
    <!-- Cover image -->
    <app-banner-uploader [user]="user$ | async" [mine]="true"></app-banner-uploader>
    <!-- User info -->
    <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">
      <div class="-mt-26 lg:-mt-22">
        <app-avatar-uploader [user]="user$ | async" [mine]="true"></app-avatar-uploader>
      </div>
      <!-- Details -->
      <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
        <div class="text-lg font-bold leading-none">{{ (user$ | async).firstName }} {{ (user$ | async).lastName }}</div>
        <div class="text-secondary">{{ (user$ | async).email }}</div>
      </div>

      <!-- Separator -->
      <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

      <div class="flex flex-row-reverse mt-1.5 mb-3 lg:mt-0 lg:mb-0 flex-1">
        <button class="px-6" mat-flat-button [color]="'primary'" routerLink="/ideas">Go to Dashboard</button>
      </div>

    </div>

  </div>

  <!-- Main -->
  <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">

    <!-- Column -->
    <div class="hidden lg:flex flex-col items-start mr-8">

      <app-about-form [mine]="true" [editable]="true"></app-about-form>

      <!-- Followers -->
      <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
        <div class="flex items-center justify-between">
          <div class="text-2xl font-semibold leading-tight">Followers</div>
          <div class="-mr-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="listCard08Menu">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #listCard08Menu="matMenu">
              <button mat-menu-item>Find friends</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between mt-6">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-01.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-01.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-02.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-02.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-03.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-04.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-03.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-04.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-05.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-06.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-05.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-06.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-07.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-07.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/male-08.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded-full"
              src="assets/images/avatars/female-08.jpg"
              alt="Card cover image">
          </div>
        </div>
        <div class="flex items-center mt-6 -mx-3">
          <button
            class="px-3"
            mat-button
            [color]="'primary'"
            [routerLink]="['./']">
            See all followers
          </button>
        </div>
      </fuse-card>

      <!-- Gallery -->
      <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
        <div class="flex items-center justify-between">
          <div class="text-2xl font-semibold leading-tight">Gallery</div>
          <div class="-mr-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="listCard09Menu">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #listCard09Menu="matMenu">
              <button mat-menu-item>Add image</button>
              <button mat-menu-item>Add video</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between mt-6">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/14-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/15-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/16-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/17-640x480.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/18-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/19-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/20-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/21-640x480.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/22-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/23-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/24-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/25-640x480.jpg"
              alt="Card cover image">
          </div>
          <div class="flex justify-between mt-3">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/26-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/27-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/28-640x480.jpg"
              alt="Card cover image">
            <img
              class="w-14 h-14 rounded object-cover"
              src="assets/images/cards/29-640x480.jpg"
              alt="Card cover image">
          </div>
        </div>
        <div class="flex items-center mt-6 -mx-3">
          <button
            class="px-3"
            mat-button
            [color]="'primary'"
            [routerLink]="['./']">
            See entire gallery
          </button>
        </div>
      </fuse-card>

      <!-- Groups -->
      <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
        <div class="flex items-center justify-between">
          <div class="text-2xl font-semibold leading-tight">Groups</div>
          <div class="-mr-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="listCard02Menu">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #listCard02Menu="matMenu">
              <button mat-menu-item>Search for groups</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col mt-5">
          <div class="flex items-center">
            <img
              class="w-14 h-14 mr-4 rounded object-cover"
              src="assets/images/cards/coffee-shop-01-320x200.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="font-medium leading-none">The Port Cafe</div>
              <div class="text-md truncate leading-none mt-1">Best cafe of the downtown New York</div>
              <div class="text-md leading-none text-secondary mt-2">1.2k followers</div>
            </div>
          </div>
          <div class="flex items-center mt-6">
            <img
              class="w-14 h-14 mr-4 rounded object-cover"
              src="assets/images/cards/coffee-shop-02-512x512.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="font-medium leading-none">Design House LLC.</div>
              <div class="text-md truncate leading-none mt-1">UI/UX, brand and product design</div>
              <div class="text-md leading-none text-secondary mt-2">957 followers</div>
            </div>
          </div>
          <div class="flex items-center mt-6">
            <img
              class="w-14 h-14 mr-4 rounded object-cover"
              src="assets/images/cards/coffee-shop-03-320x320.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="font-medium leading-none">Crax Laser Tag</div>
              <div class="text-md truncate leading-none mt-1">30% off with group of 6 people</div>
              <div class="text-md leading-none text-secondary mt-2">342 followers</div>
            </div>
          </div>
          <div class="flex items-center mt-6">
            <img
              class="w-14 h-14 mr-4 rounded object-cover"
              src="assets/images/cards/sneakers-01-320x200.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="font-medium leading-none">Roadster Clothing Inc.</div>
              <div class="text-md truncate leading-none mt-1">$25 off on orders $500 and over</div>
              <div class="text-md leading-none text-secondary mt-2">4.7k followers</div>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-6 -mx-3">
          <button
            class="px-3"
            mat-button
            [color]="'primary'"
            [routerLink]="['./']">
            See all groups
          </button>
        </div>
      </fuse-card>

      <!-- News -->
      <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
        <div class="flex items-center justify-between">
          <div class="text-2xl font-semibold leading-tight">News</div>
          <div class="-mr-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="listCard01Menu">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #listCard01Menu="matMenu">
              <button mat-menu-item>Mark all as read</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col mt-5">
          <div class="flex">
            <mat-icon
              class="icon-size-5 mt-0.5 mr-2"
              [svgIcon]="'heroicons_solid:bell'"></mat-icon>
            <div><b>20% OFF</b> in your favorite hats shop on next Friday.</div>
          </div>
          <div class="flex mt-5">
            <mat-icon
              class="icon-size-5 mt-0.5 mr-2"
              [svgIcon]="'heroicons_solid:bell'"></mat-icon>
            <div>Upcoming meetups within 20 miles.
              <a
                class="text-secondary whitespace-nowrap hover:underline"
                [routerLink]="['./']">See details
              </a>
            </div>
          </div>
          <div class="flex mt-5">
            <mat-icon
              class="icon-size-5 mt-0.5 mr-2"
              [svgIcon]="'heroicons_solid:bell'"></mat-icon>
            <div>Concerts from your favorite bands available within 100 miles.
              <a
                class="text-secondary whitespace-nowrap hover:underline"
                [routerLink]="['./']">See details
              </a>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-4 -mx-3">
          <button
            class="px-3"
            mat-button
            [color]="'primary'"
            [routerLink]="['./']">
            See all news
          </button>
        </div>
      </fuse-card>

      <!-- Activity Feed -->
      <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
        <div class="flex items-center justify-between">
          <div class="text-2xl font-semibold leading-tight">Activity Feed</div>
          <div class="-mr-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="listCard04Menu">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #listCard04Menu="matMenu">
              <button mat-menu-item>Clear activities</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col mt-5">
          <div class="flex">
            <img
              class="w-10 h-10 mr-4 rounded-full"
              src="assets/images/avatars/female-01.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="leading-tight">Amelia Edwards commented on John Silverton's photo</div>
              <div class="text-md leading-none text-secondary mt-2">4 minutes ago</div>
            </div>
          </div>
          <div class="flex mt-8">
            <img
              class="w-10 h-10 mr-4 rounded-full"
              src="assets/images/avatars/male-01.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="leading-tight">Lew Silverton changed his profile photo</div>
              <div class="text-md leading-none text-secondary mt-2">25 minutes ago</div>
            </div>
          </div>
          <div class="flex mt-8">
            <img
              class="w-10 h-10 mr-4 rounded-full"
              src="assets/images/avatars/male-15.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="leading-tight">Brian Hughes liked your photo</div>
              <div class="text-md leading-none text-secondary mt-2">3 hours ago</div>
            </div>
          </div>
          <div class="flex mt-8">
            <img
              class="w-10 h-10 mr-4 rounded-full"
              src="assets/images/avatars/female-15.jpg"
              alt="Card cover image">
            <div class="flex flex-col min-w-0">
              <div class="leading-tight">Marleah Eagleston commented on John Silverton's photo</div>
              <div class="text-md leading-none text-secondary mt-2">Yesterday</div>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-6 -mx-3">
          <button
            class="px-3"
            mat-button
            [color]="'primary'"
            [routerLink]="['./']">
            See entire activity feed
          </button>
        </div>
      </fuse-card>

    </div>

    <!-- Column -->
    <div class="flex flex-col flex-grow items-center">

      <app-basic-profile-form [mine]="true" [editable]="true"></app-basic-profile-form>
      <app-category-form [mine]="true" [editable]="true"></app-category-form>
      <app-customer-profile-form [mine]="true" [editable]="true"></app-customer-profile-form>

    </div>

  </div>

</div>
