<div class="flex flex-row mt-1 ml-8">
  <mat-form-field [formGroup]="form" class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full ml-4">
    <textarea
        class="min-h-5 my-0 resize-none"
        style="margin: 11px 0 !important; padding: 0 !important;"
        [rows]="1"
        matInput
        cdkTextareaAutosize
        #articleMessageInput formControlName="text"></textarea>
  </mat-form-field>
  <div class="flex items-center h-11 my-px ml-4">
      <button mat-icon-button (click)="addThread()">
          <mat-icon class="transform rotate-90" [svgIcon]="'heroicons_outline:paper-airplane'"></mat-icon>
      </button>
  </div>
</div>
